# /etc/systemd/system/docker-compose-app.service

[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service wifi-connect.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/ambianic
ExecStart=./scripts/start-docker-compose.sh
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
